@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import 'daisyui/dist/full.css'; */


@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.animated-image {
  animation: moveUpDown 1s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

.TreeNode{
  display: flex;
}
.TreeNodeToolBar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.typeIconContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}



.CodeMirror {
  height: 100% !important; /* Full height of the container */
  width: 100% !important; /* Full width of the container */
  overflow: auto; /* Ensure proper scrolling */
}

/* Ensure the editor starts from the top left with no extra space */
.CodeMirror-scroll {
  overflow: auto; /* Handle scrolling */
}

/* Optional: Enable word wrapping */
.CodeMirror-wrap {
  white-space: pre-wrap; /* Ensure long lines wrap */
}


.projectpage-container{
  scroll-snap-type: y mandatory;
}
.projectdetails .projecttree{
  scroll-snap-align: start;
}